:root {
    --primary-color: #11131F;
    --secondary-color: #E59204;
    --tertiary-color: #0181B0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--primary-color);
}
section {
    padding: 60px;
  }

.flex-row {
    display: flex;
}
/* header styles start */

header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--secondary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    font-weight: bolder;
    text-shadow: none;
    border-radius: 15px;
}

/* end header styles */

/* hero styles start */
.hero {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    padding: 200px;
}

.tagline {
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
    color: var(--tertiary-color);
    text-shadow: 0 0 10px #ffff;
    position: static;
    flex-wrap: none;
}

/* end hero styles */

/* footer styles start */

/* end footer styles */