:root {
    --primary-color: #11131F;
    --secondary-color: #E59204;
    --tertiary-color: #0181B0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    font-family: Helvetica, Arial, sans-serif;
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: var(--tertiary-color);
}

section {
    padding: 60px;
  }

.flex-row {
    display: flex;
}
/* header styles start */

.banner {
    padding: 1.5vw 2.9vw;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.banner h1 {
    font-weight: bold;
    font-size: 3vw;
    color: var(--secondary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.banner a {
    text-decoration: none;
    color: var(--secondary-color);
}

.banner nav {
    margin: 7px 0;
}

.banner nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.banner nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.banner nav ul li a:hover {
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    font-weight: bolder;
    text-shadow: none;
    border-radius: 15px;
}

/* end header styles */

/* hero styles start */
.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 300px;
}

.tagline {
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
    color: var(--tertiary-color);
    text-shadow: 0 0 10px #ffff;
    position: static;
    flex-wrap: none;
}

/* end hero styles */

/* About Me styles start */

.about-me {
    background-color: var(--primary-color);
    border-radius: 15px;
    margin-left: 62px;
    margin-right: 62px;
    margin-top: 0;
    margin-bottom: 0;
}

.about-me h2 {
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
    flex-wrap: none;
    margin-bottom: 20px;
}

.bio {
    display: flex;
    align-items: flex-start;
}

.about-me img {
    width: 50%;
    align-items: flex-end;
}

.about-me p {
    padding: 25px;
    line-height: 1.3;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* end About Me styles*/

/* My Work styles start */

.projects {
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
}

.showcase-one {
    width: 100%;
}

.showcase-two, .showcase-three, .showcase-four, .showcase-five {
    width: 45%;
}

.projects img {
    width: 100%;
    border-radius: 8px;
    height: auto;
}

/* end My Work styles*/

/* footer styles start */

.banner div {
    color: var(--secondary-color);
}

/* end footer styles */